{{ define "toValue" }}

func {{ .target.ToMethod }}(v interface{}) ({{ .target }}, error) {
	if v == nil {
		return 0, ErrNil
	}
	switch vt := v.(type) {
{{- $t := .target -}}

{{/* start for signed int cases */}}
{{ range .signeds }}

{{ if eq . $t -}}
	case {{ . }}:
		return vt, nil
	case *{{ . }}:
		if vt == nil {
			return 0, ErrNil
		}
		return *vt, nil
{{ end -}}

{{ if .SizeLess $t -}}
	case {{ . }}:
		return {{ $t }}(vt), nil
	case *{{ . }}:
		if vt == nil {
			return 0, ErrNil
		}
		return {{ $t }}(*vt), nil
{{ end -}}

{{ if .SizeGreater $t -}}
	case {{ . }}:
		if vt < {{ . }}({{ $t.MinVar }}) || {{ . }}({{ $t.MaxVar }}) < vt {
			return 0, &RangeError{"{{ . }}", "{{ $t }}", vt}
		}
		return {{ $t }}(vt), nil
	case *{{ . }}:
		if vt == nil {
			return 0, ErrNil
		}
		if *vt < {{ . }}({{ $t.MinVar }}) || {{ . }}({{ $t.MaxVar }}) < *vt {
			return 0, &RangeError{"*{{ . }}", "{{ $t }}", *vt}
		}
		return {{ $t }}(*vt), nil
{{ end -}}
{{ end -}}

{{/* start for unsigned int cases */}}
{{ range .unsigneds }}

{{ if or (.SizeEq $t) (.SizeGreater $t) -}}
	case {{ . }}:
		if {{ . }}({{ $t.MaxVar }}) < vt {
			return 0, &RangeError{"{{ . }}", "{{ $t }}", vt}
		}
		return {{ $t }}(vt), nil
	case *{{ . }}:
		if vt == nil {
			return 0, ErrNil
		}
		if {{ . }}({{ $t.MaxVar }}) < *vt {
			return 0, &RangeError{"*{{ . }}", "{{ $t }}", *vt}
		}
		return {{ $t }}(*vt), nil
{{ end -}}

{{ if .SizeLess $t -}}
	case {{ . }}:
		return {{ $t }}(vt), nil
	case *{{ . }}:
		if vt == nil {
			return 0, ErrNil
		}
		return {{ $t }}(*vt), nil
{{ end -}}
{{- end }}
{{/* start for string cases */}}
	case string:
		n, err := strconv.ParseInt(vt, 10, {{ .target.BitSize }})
		if err != nil {
			if errors.Is(err, strconv.ErrRange) {
				err = &RangeError{"string", "{{ .target }}", vt}
			}
			return 0, err
		}
		r, err := {{ .target.ToMethod }}(n)
		if err, ok := err.(*RangeError); ok && err != nil {
			err.from = "string"
		}
		return r, err
	case *string:
		if vt == nil {
			return 0, ErrNil
		}
		n, err := strconv.ParseInt(*vt, 10, {{ .target.BitSize }})
		if err != nil {
			if errors.Is(err, strconv.ErrRange) {
				err = &RangeError{"*string", "{{ .target }}", *vt}
			}
			return 0, err
		}
		r, err := {{ .target.ToMethod }}(n)
		if err, ok := err.(*RangeError); ok && err != nil {
			err.from = "*string"
		}
		return r, err
	
	}
	return 0, ErrNoNumConvert
}

{{ end }}
